@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-color: white;
	--dark-font-color: gray;
	--bg-color: #131119;
	--note-color-off: hsl(255, 14%, 27%);
	--note-color-on: hsl(16, 100%, 50%);
	--note-color-off-current: hsl(255, 14%, 37%);
	--note-color-on-current: hsl(16, 100%, 60%);
	--button-color: steelblue;
	--note-size: min(2.5rem, 10vw);
	--thin-color: #fff1;
	--larger-font: 1.1rem;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: "Poppins", sans-serif;
	padding-inline: 0.8rem;
}
