* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-color: white;
	--dark-font-color: gray;
	--bg-color: #131119;
	--note-color-off: hsl(255, 14%, 27%);
	--note-color-on: hsl(16, 100%, 50%);
	--note-color-off-current: hsl(255, 14%, 37%);
	--note-color-on-current: hsl(16, 100%, 60%);
	--button-color: steelblue;
	--error-color: rgb(222, 38, 38);
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	padding: 10px;
}
